{% extends 'base.html.twig' %}

{% block title %}Paragraph index{% endblock %}

{% block body %}
    <h1>Paragraph index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paragraph in paragraphs %}
            <tr>
                <td>{{ paragraph.id }}</td>
                <td>{{ paragraph.title }}</td>
                <td>{{ paragraph.content }}</td>
                <td>
                    <a href="{{ path('paragraph_show', {'id': paragraph.id}) }}">show</a>
                    <a href="{{ path('paragraph_edit', {'id': paragraph.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paragraph_new') }}">Create new</a>
{% endblock %}
