{% extends 'base.html.twig' %}

{% block title %}Paragraph{% endblock %}

{% block body %}
    <h1>Paragraph</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paragraph.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ paragraph.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ paragraph.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('paragraph_index') }}">back to list</a>

    <a href="{{ path('paragraph_edit', {'id': paragraph.id}) }}">edit</a>

    {{ include('paragraph/_delete_form.html.twig') }}
{% endblock %}
