// # COLORS
$first-color: #ef3939;
$second-color: #bbbbbb;
$third-color: #e4e4e4;
$fourth-color: #f5f5f5;

// # DIMENSIONS
$vertical-menu-width: 80px;
$left-aside-width: 300px;
@mixin main-aside-width {
  width: -moz-calc(100% - #{$vertical-menu-width} - #{$left-aside-width});
  width: -webkit-calc(100% - #{$vertical-menu-width} - #{$left-aside-width});
  width: calc(100% - #{$vertical-menu-width} - #{$left-aside-width});
}

@mixin note-title-width {
  width: -moz-calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}

@mixin note-title-container-width {
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
}

@mixin paragraphs-container-width {
  width: -moz-calc(100% - 300px - 10px + 8px);
  width: -webkit-calc(100% - 300px - 10px + 8px);
  width: calc(100% - 300px - 10px + 8px);
}

@mixin paragraph-width {
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  body {
    margin: 0;
    font-size: 0;

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }

    img {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-drag: none;
      -ms-user-select: none;
      -webkit-user-drag: none;
    }

    aside {
      display: inline-block;
      vertical-align: top;
      height: 100vh;
    }

    #vertical-menu {
      width: $vertical-menu-width;
      background-color: $first-color;
    }

    #left-aside {
      width: $left-aside-width;
      background-color: $second-color;

      ::placeholder {
        color: $third-color;
        opacity: 1;
      }

      ::-ms-input-placeholder {
        color: $third-color;
      }

      #search {
        background-color: $second-color;
        height: 64px;
        width: 100%;
        border: 0;
        padding: 0 40px 0 20px;
        font-family: "Ubuntu Condensed", sans-serif;
        font-size: 18px;
        color: $third-color;
      }

      > a {
        display: inline-block;
        height: 50px;
        width: 100%;

        #add-note-button {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 9px 0 9px 0;
          background-color: $second-color;
          color: $first-color;
          cursor: pointer;

          &.selected {
            background-color: $third-color;
          }

          img {
            height: 32px;
            width: 32px;
            display: block;
            margin: auto;
          }
        }
      }

      #notes-container {
        height: auto;
        width: 100%;
        border-bottom: 1px solid #cdcdcd;

        .note {
          height: 90px;
          width: 100%;
          border-top: 1px solid #cdcdcd;

          .buttons-container {
            display: inline-block;
            height: 100%;
            width: 36px;
            box-sizing: border-box;
            padding-top: 13px;
            vertical-align: top;

            img {
              display: block;
              height: 14px;
              width: 14px;
              margin: 0 auto 10px;
            }

            form {
              .btn {
                color: #ef3939;
                padding: 0;
                margin: 0 auto 10px;
                display: block;
                border: 0;
                cursor: pointer;
                background: none;
              }
            }
          }

          a {
            display: inline-block;
            height: 100%;

            .title-container {
              display: inline-block;
              height: 100%;
              width: 264px;
              vertical-align: top;
              cursor: pointer;

              .title {
                font-size: 16px;
                font-family: "Ubuntu Condensed", "Ubuntu";
                color: $first-color;
                margin: 0;
                padding: 12px 8px 3px 5px;
              }

              .text {
                margin: 0;
                font-family: "Ubuntu Condensed", "Ubuntu";
                font-size: 13px;
                padding: 0 8px 0 5px;
                color: $fourth-color;
              }
            }
          }
        }

        #selected-note {
          background-color: $third-color;

          a {
            .title-container {
              .text {
                color: #666666 !important;
              }
            }
          }
        }
      }
    }

    #main-aside {
      @include main-aside-width;
      background-color: $third-color;
      padding: 20px 20px 20px 20px;
      box-sizing: border-box;

      #vertical-bar {
        display: inline-block;
        vertical-align: top;
        height: 32px;
        width: 8px;
        border-radius: 4px;
        background-color: $first-color;
      }

      form {
        vertical-align: top;
        display: inline-block;
        @include note-title-container-width;

        ::placeholder {
          color: $second-color;
          opacity: 1;
        }

        ::-ms-input-placeholder {
          color: $second-color;
        }

        #note_title {
          @include note-title-width;
          height: 31px;
          border: 0;
          padding: 0 10px 0 10px;
          font-family: "Ubuntu";
          font-weight: bold;
          font-size: 16px;
          color: $first-color;
          background-color: $third-color;
        }

        .btn {
          display: inline-block;
          height: 31px;
          margin: 0;
          font-size: 20px;
          color: $first-color;
          border: 0;
          background-color: $third-color;
          float: right;
          cursor: pointer;
        }

        #paragraphs-container {
          display: inline-block;
          vertical-align: top;
          margin: 20px 0 0 -8px;
          height: auto;
          @include paragraphs-container-width;

          #note_paragraphs {
            #add_paragraph {
              display: inline-block;
              height: 28px;
              width: 100%;
              background-color: white;
              border-radius: 4px;
              margin-bottom: 10px;
              padding: 6px;
              box-sizing: border-box;
              font-size: 16px;
              text-align: center;
              color: $first-color;
            }

            > div {
              margin-bottom: 10px;
              border-radius: 4px;
              background-color: white;

              a {
                display: inline-block;
                margin: 13px;
                color: $first-color;
                font-size: 14px;
              }

              > div {
                display: inline-block;
                vertical-align: top;
                @include paragraph-width;
                padding-bottom: 10px;

                ::placeholder {
                  color: $second-color;
                  opacity: 1;
                }

                ::-ms-input-placeholder {
                  color: $second-color;
                }

                input[type=text] {
                  height: 30px;
                  width: 100%;
                  padding: 0 10px 0 0;
                  margin-top: 4px;
                  font-size: 15px;
                  box-sizing: border-box;
                  font-family: "Ubuntu";
                  color: $first-color;
                  font-weight: bold;
                  border: 0;
                }

                textarea {
                  width: 100%;
                  min-height: 60px;
                  margin-top: 5px;
                  padding: 0 10px 0 0;
                  box-sizing: border-box;
                  font-size: 13px;
                  font-family: "Ubuntu Light";
                  border: 0;
                }
              }
            }
          }
        }

        #attachments-container {
          display: inline-block;
          vertical-align: top;
          margin-top: 20px;
          height: 100px;
          width: 300px;
          float: right;

          #buttons-container {
            height: 28px;
            width: 100%;
            background-color: white;
            border-radius: 4px;
            margin-bottom: 10px;

            a {
              display: inline-block;
              height: 100%;
              width: 75px;
              padding: 6px;
              box-sizing: border-box;
              font-size: 16px;
              text-align: center;
              color: $first-color;
            }
          }

          #note_toDoLists {
            > div {
              display: inline-flex;
              padding: 0;
              width: 100%;
              background-color: white;
              margin-bottom: 10px;
              border-radius: 4px;

              a {
                display: inline-block;
                vertical-align: top;
                padding: 9px;
                box-sizing: border-box;
                height: 32px;
                width: 32px;
                font-size: 13px;
                color: $first-color;
                text-align: center;
              }

              > div {

                > div:first-child {
                  width: 40px;
                  padding: 10px 13px 8px 13px;
                  box-sizing: border-box;
                }

                > div:nth-child(2) {
                  width: 224px;
                }

                > div {
                  display: inline-block;
                  vertical-align: top;
                  height: 32px;

                  input[type="checkbox"] {
                    margin: 0;
                  }

                  input[type="text"] {
                    height: 32px;
                    width: 100%;
                    border: 0;
                    padding: 0 8px 0 2px;
                    box-sizing: border-box;
                    font-family: "Ubuntu";
                    color: $first-color;
                    border: 0;
                  }
                }
              }
            }
          }

          #note_links {
            > div {
              height: 40px;
              width: 100%;
              box-sizing: border-box;
              display: inline-flex;
              padding: 0;
              background-color: white;
              margin-bottom: 10px;
              border-radius: 4px;

              a:first-child {
                height: 40px;
                width: 40px;
                background-color: $first-color;
                color: white;
                border-radius: 4px 0 0 4px;
                padding-top: 12px;
              }

              a {
                display: inline-block;
                vertical-align: top;
                padding: 12px;
                box-sizing: border-box;
                height: 40px;
                width: 42px;
                font-size: 13px;
                color: $first-color;
                text-align: center;
              }

              > div {
                width: 218px;

                > div:first-child {
                  input[type="text"] {
                    height: 20px;
                    font-size: 12px;
                    padding-top: 7px;
                  }
                }

                > div:nth-child(2) {
                  input[type="text"] {
                    height: 20px;
                    font-size: 9px;
                    font-family: "Ubuntu Condensed";
                    color: $second-color;
                    padding-bottom: 7px;
                  }
                }

                > div {

                  input[type="text"] {
                    width: 100%;
                    border: 0;
                    padding: 0 5px 0 10px;
                    box-sizing: border-box;
                    font-family: "Ubuntu";
                    color: $first-color;
                    border: 0;
                  }
                }
              }
            }
          }
        }

        /*
        #note {
          display: inline-block;
          vertical-align: top;
          @include note-title-width;

          div {
            ::placeholder {
              color: $second-color;
              opacity: 1;
            }

            ::-ms-input-placeholder {
              color: $second-color;
            }

            #note_title {
              width: 100%;
              height: 31px;
              border: 0;
              padding: 0 10px 0 10px;
              font-family: "Ubuntu";
              font-weight: bold;
              font-size: 16px;
              color: $first-color;
              background-color: $third-color;
            }
          }
        }


        .btn {
          display: inline-block;
          height: 32px;
          margin: 0 10px 0 0;
          font-size: 20px;
          color: $first-color;
          border: 0;
          background-color: $third-color;
          float: right;
          cursor: pointer;
        }
        */
      }
    }
  }
}