@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  body {
    margin: 0;
    font-size: 0; }
    body input:focus,
    body select:focus,
    body textarea:focus,
    body button:focus {
      outline: none; }
    body img {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-drag: none;
      -ms-user-select: none;
      -webkit-user-drag: none; }
    body aside {
      display: inline-block;
      vertical-align: top;
      height: 100vh; }
    body #vertical-menu {
      width: 80px;
      background-color: #ef3939; }
    body #left-aside {
      width: 300px;
      background-color: #bbbbbb; }
      body #left-aside ::placeholder {
        color: #e4e4e4;
        opacity: 1; }
      body #left-aside ::-ms-input-placeholder {
        color: #e4e4e4; }
      body #left-aside #search {
        background-color: #bbbbbb;
        height: 64px;
        width: 100%;
        border: 0;
        padding: 0 40px 0 20px;
        font-family: "Ubuntu Condensed", sans-serif;
        font-size: 18px;
        color: #e4e4e4; }
      body #left-aside > a {
        display: inline-block;
        height: 50px;
        width: 100%; }
        body #left-aside > a #add-note-button {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 9px 0 9px 0;
          background-color: #bbbbbb;
          color: #ef3939;
          cursor: pointer; }
          body #left-aside > a #add-note-button.selected {
            background-color: #e4e4e4; }
          body #left-aside > a #add-note-button img {
            height: 32px;
            width: 32px;
            display: block;
            margin: auto; }
      body #left-aside #notes-container {
        height: auto;
        width: 100%;
        border-bottom: 1px solid #cdcdcd; }
        body #left-aside #notes-container .note {
          height: 90px;
          width: 100%;
          border-top: 1px solid #cdcdcd; }
          body #left-aside #notes-container .note .buttons-container {
            display: inline-block;
            height: 100%;
            width: 36px;
            box-sizing: border-box;
            padding-top: 13px;
            vertical-align: top; }
            body #left-aside #notes-container .note .buttons-container img {
              display: block;
              height: 14px;
              width: 14px;
              margin: 0 auto 10px; }
            body #left-aside #notes-container .note .buttons-container form .btn {
              color: #ef3939;
              padding: 0;
              margin: 0 auto 10px;
              display: block;
              border: 0;
              cursor: pointer;
              background: none; }
          body #left-aside #notes-container .note a {
            display: inline-block;
            height: 100%; }
            body #left-aside #notes-container .note a .title-container {
              display: inline-block;
              height: 100%;
              width: 264px;
              vertical-align: top;
              cursor: pointer; }
              body #left-aside #notes-container .note a .title-container .title {
                font-size: 16px;
                font-family: "Ubuntu Condensed", "Ubuntu";
                color: #ef3939;
                margin: 0;
                padding: 12px 8px 3px 5px; }
              body #left-aside #notes-container .note a .title-container .text {
                margin: 0;
                font-family: "Ubuntu Condensed", "Ubuntu";
                font-size: 13px;
                padding: 0 8px 0 5px;
                color: #f5f5f5; }
        body #left-aside #notes-container #selected-note {
          background-color: #e4e4e4; }
          body #left-aside #notes-container #selected-note a .title-container .text {
            color: #666666 !important; }
    body #main-aside {
      width: -moz-calc(100% - 80px - 300px);
      width: -webkit-calc(100% - 80px - 300px);
      width: calc(100% - 80px - 300px);
      background-color: #e4e4e4;
      padding: 20px 20px 20px 20px;
      box-sizing: border-box; }
      body #main-aside #vertical-bar {
        display: inline-block;
        vertical-align: top;
        height: 32px;
        width: 8px;
        border-radius: 4px;
        background-color: #ef3939; }
      body #main-aside form {
        vertical-align: top;
        display: inline-block;
        width: -moz-calc(100% - 8px);
        width: -webkit-calc(100% - 8px);
        width: calc(100% - 8px);
        /*
        #note {
          display: inline-block;
          vertical-align: top;
          @include note-title-width;

          div {
            ::placeholder {
              color: $second-color;
              opacity: 1;
            }

            ::-ms-input-placeholder {
              color: $second-color;
            }

            #note_title {
              width: 100%;
              height: 31px;
              border: 0;
              padding: 0 10px 0 10px;
              font-family: "Ubuntu";
              font-weight: bold;
              font-size: 16px;
              color: $first-color;
              background-color: $third-color;
            }
          }
        }


        .btn {
          display: inline-block;
          height: 32px;
          margin: 0 10px 0 0;
          font-size: 20px;
          color: $first-color;
          border: 0;
          background-color: $third-color;
          float: right;
          cursor: pointer;
        }
        */ }
        body #main-aside form ::placeholder {
          color: #bbbbbb;
          opacity: 1; }
        body #main-aside form ::-ms-input-placeholder {
          color: #bbbbbb; }
        body #main-aside form #note_title {
          width: -moz-calc(100% - 60px);
          width: -webkit-calc(100% - 60px);
          width: calc(100% - 60px);
          height: 31px;
          border: 0;
          padding: 0 10px 0 10px;
          font-family: "Ubuntu";
          font-weight: bold;
          font-size: 16px;
          color: #ef3939;
          background-color: #e4e4e4; }
        body #main-aside form .btn {
          display: inline-block;
          height: 31px;
          margin: 0;
          font-size: 20px;
          color: #ef3939;
          border: 0;
          background-color: #e4e4e4;
          float: right;
          cursor: pointer; }
        body #main-aside form #paragraphs-container {
          display: inline-block;
          vertical-align: top;
          margin: 20px 0 0 -8px;
          height: auto;
          width: -moz-calc(100% - 300px - 10px + 8px);
          width: -webkit-calc(100% - 300px - 10px + 8px);
          width: calc(100% - 300px - 10px + 8px); }
          body #main-aside form #paragraphs-container #note_paragraphs #add_paragraph {
            display: inline-block;
            height: 28px;
            width: 100%;
            background-color: white;
            border-radius: 4px;
            margin-bottom: 10px;
            padding: 6px;
            box-sizing: border-box;
            font-size: 16px;
            text-align: center;
            color: #ef3939; }
          body #main-aside form #paragraphs-container #note_paragraphs > div {
            margin-bottom: 10px;
            border-radius: 4px;
            background-color: white; }
            body #main-aside form #paragraphs-container #note_paragraphs > div a {
              display: inline-block;
              margin: 13px;
              color: #ef3939;
              font-size: 14px; }
            body #main-aside form #paragraphs-container #note_paragraphs > div > div {
              display: inline-block;
              vertical-align: top;
              width: -moz-calc(100% - 40px);
              width: -webkit-calc(100% - 40px);
              width: calc(100% - 40px);
              padding-bottom: 10px; }
              body #main-aside form #paragraphs-container #note_paragraphs > div > div ::placeholder {
                color: #bbbbbb;
                opacity: 1; }
              body #main-aside form #paragraphs-container #note_paragraphs > div > div ::-ms-input-placeholder {
                color: #bbbbbb; }
              body #main-aside form #paragraphs-container #note_paragraphs > div > div input[type=text] {
                height: 30px;
                width: 100%;
                padding: 0 10px 0 0;
                margin-top: 4px;
                font-size: 15px;
                box-sizing: border-box;
                font-family: "Ubuntu";
                color: #ef3939;
                font-weight: bold;
                border: 0; }
              body #main-aside form #paragraphs-container #note_paragraphs > div > div textarea {
                width: 100%;
                min-height: 60px;
                margin-top: 5px;
                padding: 0 10px 0 0;
                box-sizing: border-box;
                font-size: 13px;
                font-family: "Ubuntu Light";
                border: 0; }
        body #main-aside form #attachments-container {
          display: inline-block;
          vertical-align: top;
          margin-top: 20px;
          height: 100px;
          width: 300px;
          float: right; }
          body #main-aside form #attachments-container #buttons-container {
            height: 28px;
            width: 100%;
            background-color: white;
            border-radius: 4px;
            margin-bottom: 10px; }
            body #main-aside form #attachments-container #buttons-container a {
              display: inline-block;
              height: 100%;
              width: 75px;
              padding: 6px;
              box-sizing: border-box;
              font-size: 16px;
              text-align: center;
              color: #ef3939; }
          body #main-aside form #attachments-container #note_toDoLists > div {
            display: inline-flex;
            padding: 0;
            width: 100%;
            background-color: white;
            margin-bottom: 10px;
            border-radius: 4px; }
            body #main-aside form #attachments-container #note_toDoLists > div a {
              display: inline-block;
              vertical-align: top;
              padding: 9px;
              box-sizing: border-box;
              height: 32px;
              width: 32px;
              font-size: 13px;
              color: #ef3939;
              text-align: center; }
            body #main-aside form #attachments-container #note_toDoLists > div > div > div:first-child {
              width: 40px;
              padding: 10px 13px 8px 13px;
              box-sizing: border-box; }
            body #main-aside form #attachments-container #note_toDoLists > div > div > div:nth-child(2) {
              width: 224px; }
            body #main-aside form #attachments-container #note_toDoLists > div > div > div {
              display: inline-block;
              vertical-align: top;
              height: 32px; }
              body #main-aside form #attachments-container #note_toDoLists > div > div > div input[type="checkbox"] {
                margin: 0; }
              body #main-aside form #attachments-container #note_toDoLists > div > div > div input[type="text"] {
                height: 32px;
                width: 100%;
                border: 0;
                padding: 0 8px 0 2px;
                box-sizing: border-box;
                font-family: "Ubuntu";
                color: #ef3939;
                border: 0; }
          body #main-aside form #attachments-container #note_links > div {
            height: 40px;
            width: 100%;
            box-sizing: border-box;
            display: inline-flex;
            padding: 0;
            background-color: white;
            margin-bottom: 10px;
            border-radius: 4px; }
            body #main-aside form #attachments-container #note_links > div a:first-child {
              height: 40px;
              width: 40px;
              background-color: #ef3939;
              color: white;
              border-radius: 4px 0 0 4px;
              padding-top: 12px; }
            body #main-aside form #attachments-container #note_links > div a {
              display: inline-block;
              vertical-align: top;
              padding: 12px;
              box-sizing: border-box;
              height: 40px;
              width: 42px;
              font-size: 13px;
              color: #ef3939;
              text-align: center; }
            body #main-aside form #attachments-container #note_links > div > div {
              width: 218px; }
              body #main-aside form #attachments-container #note_links > div > div > div:first-child input[type="text"] {
                height: 20px;
                font-size: 12px;
                padding-top: 7px; }
              body #main-aside form #attachments-container #note_links > div > div > div:nth-child(2) input[type="text"] {
                height: 20px;
                font-size: 9px;
                font-family: "Ubuntu Condensed";
                color: #bbbbbb;
                padding-bottom: 7px; }
              body #main-aside form #attachments-container #note_links > div > div > div input[type="text"] {
                width: 100%;
                border: 0;
                padding: 0 5px 0 10px;
                box-sizing: border-box;
                font-family: "Ubuntu";
                color: #ef3939;
                border: 0; } }

/*# sourceMappingURL=normal_screen.css.map */
