{% extends 'base.html.twig' %}

{% block title %}ToDoList index{% endblock %}

{% block body %}
    <h1>ToDoList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for to_do_list in to_do_lists %}
            <tr>
                <td>{{ to_do_list.id }}</td>
                <td>{{ to_do_list.title }}</td>
                <td>{{ to_do_list.done ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('to_do_list_show', {'id': to_do_list.id}) }}">show</a>
                    <a href="{{ path('to_do_list_edit', {'id': to_do_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('to_do_list_new') }}">Create new</a>
{% endblock %}
