{% extends 'base.html.twig' %}

{% block title %}ToDoList{% endblock %}

{% block body %}
    <h1>ToDoList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ to_do_list.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ to_do_list.title }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{{ to_do_list.done ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('to_do_list_index') }}">back to list</a>

    <a href="{{ path('to_do_list_edit', {'id': to_do_list.id}) }}">edit</a>

    {{ include('to_do_list/_delete_form.html.twig') }}
{% endblock %}
