<form method="post" action="{{ path('note_delete', {'id': currentnote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentnote.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i></button>
</form>
