<form method="post" action="{{ path('note_duplicate', {'id': currentnote.id}) }}">
    <!--<input type="hidden" name="_method" value="GET">-->
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentnote.id) }}">
    <button class="btn"><i class="fas fa-copy"></i></button>
</form>
