{{ form_start(form) }}
    {{ form_widget(form.title) }}
    <button class="btn"><i class="fas fa-save"></i></button>
    <div id="paragraphs-container">
        {{ form_widget(form.paragraphs) }}
    </div>
    <aside id="attachments-container">
        <div id="buttons-container"></div>
        {{ form_widget(form.toDoLists) }}
        {{ form_widget(form.links) }}
    </aside>
{{ form_end(form) }}
