{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block leftaside %}
    <input id="search" type="search" onkeyup="filter()" placeholder="Search"/>
    <a href="{{ path('note_new')}}">
        <div id="add-note-button">
            <img src="{{ asset('/icons/svg/plus.svg') }}" alt=""/>
        </div>
    </a>
    <div id="notes-container">
        {% for currentnote in notes|reverse %}
            <div class="note" {% if currentnote == note %}id ="selected-note"{% endif %}>
                <div class="buttons-container">
                    <img src="{{ asset('/icons/png/printer.png') }}" alt="print">
                    {{ include('note/_duplicate_form.html.twig') }}
                    {{ include('note/_delete_form.html.twig') }}
                </div>
                <a href="{{ path('note_edit', {'id': currentnote.id}) }}">
                    <div class="title-container">
                        <h1 class="title">{{ currentnote.title }}</h1>
                        <p class="text">{% if currentnote.paragraphs|first %}{{ currentnote.paragraphs|first.content[:120] }}&#8230;{% endif %}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <!--No recorde found-->
        {% endfor %}
    </div>
{% endblock %}
{% block mainaside %}
    <div id="vertical-bar"></div>
    {{ include('note/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/addandremove_paragraph.js') }}"></script>
    <script src="{{ asset('/js/addandremove_todolist.js') }}"></script>
    <script src="{{ asset('/js/addandremove_task.js') }}"></script>
    <script src="{{ asset('/js/addandremove_link.js') }}"></script>
    <script src="{{ asset('/js/open_url.js') }}"></script>
    <script src="{{ asset('/js/search.js') }}"></script>
{% endblock %}