{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block leftaside %}
    <input id="search" type="search" placeholder="Search"/>
    <div id="add-note-button">
        <img src="{{ asset('/icons/svg/plus.svg') }}" alt=""/>
    </div>
    <div id="notes-container">
        {% for note in notes %}
            <div class="note">
                <div class="buttons-container">
                    <img src="{{ asset('/icons/png/printer.png') }}" alt="print">
                    <img src="{{ asset('/icons/svg/share.svg') }}" alt="share">
                    <img src="{{ asset('/icons/png/delete.png') }}" alt="delete">
                </div>
                <a href="{{ path('note_edit', {'id': note.id}) }}">
                    <div class="title-container">
                        <h1 class="title">{{ note.title }}</h1>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div>
        {% else %}
            <!--No recorde found-->
        {% endfor %}
    </div>
{% endblock %}