<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ugnote{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/normal_screen.css') }}" type="text/css" media="none" onload="this.media='all';"/>
            <link rel="stylesheet" href="{{ asset('/css/fonts.css') }}" type="text/css" media="none" onload="this.media='all';"/>
            <link rel="stylesheet" href="{{ asset('/fontawesome-free-5.5.0-web/css/all.min.css') }}" type="text/css" media="none" onload="this.media='all';"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <aside id="vertical-menu"></aside>
            <aside id="left-aside">
                {% block leftaside %}{% endblock %}
            </aside>
            <aside id="main-aside">{% block mainaside %}{% endblock %}</aside>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('/js/autoresize.jquery.js') }}"></script>
            <script src="{{ asset('/js/textarea.autoresize.js') }}"></script>
        {% endblock %}
    </body>
</html>
